<%# <html> %>
<%- include('00a-header.ejs') %>
    <div class = "container">
      <h1>new article</h1>
      <div class = "row">
        <div class = "col-sm-12 col-md-8 offset-md-2">
          <a href = "/news/editor/edit/"><button type = "button" class = "btn btn-basic btn-block col">Open editor</button></a>
        </div>
      </div>

    <% if (drafts.length > 0) { %>
      <h1>edit draft articles</h1>
      <div class = "row">
      <% drafts.forEach((articleItem, index) => { %>
        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><h3><%= articleItem.metadata.title %></h3></a>
          <p><%= articleItem.metadata.summary %></p>
        </div>
      <% }) %>
      </div>
    <% } %>

    <% if (published.length > 0) { %>
      <h1>edit published articles</h1>
      <div class = "row">
      <% published.forEach((articleItem, index) => { %>
        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><h3><%= articleItem.metadata.title %></h3></a>
          <p><%= articleItem.metadata.summary %></p>
        </div>
      <% }) %>
      </div>
    <% } %>

    </div>

<%- include('00b-footer.ejs') %>
<%# </html> %>