<%# <html> %>
<%- include('00a_header.ejs') %>
    <link rel = "stylesheet" href = "/css/05_news.css">
    
    <div class = "container">

    <% if (drafts.length > 0) { %>
      <h1>edit draft articles</h1>
      <div class = "row">
      <% drafts.forEach((articleItem, index) => { %>
        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-drafts"><h3><%= articleItem.metadata.title %></h3></a>
          <p><%= articleItem.metadata.summary %></p>
        </div>
      <% }) %>
      </div>
    <% } %>

    <% if (published.length > 0) { %>
      <h1>edit published articles</h1>
      <div class = "row">
      <% published.forEach((articleItem, index) => { %>
        <div class = "article-summary col-lg-4 col-sm-6">
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><img class = "img-fluid img-border" src = "<%= articleItem.metadata.thumbnail %>"></a>
          <a href = "/news/editor/edit/?id=<%= articleItem.metadata.id %>&db=news-articles"><h3><%= articleItem.metadata.title %></h3></a>
          <p><%= articleItem.metadata.summary %></p>
        </div>
      <% }) %>
      </div>
    <% } %>

      <h1>new article</h1>
      <div class = "row">
        <div class = "col-sm-12 col-md-8 offset-md-2">
          <a href = "/news/editor/edit/"><button type = "button" class = "btn btn-simple btn-block col">Open editor</button></a>
          <p>Feel free to edit any of the articles in the draft or in the published part, or create a new article. No worries, the database has a backup.</p>
          <p>The editor combined with the file uploader would be even more user-friendly. Until this is completed, only pre-uploaded images can be inserted to the articles. You can find a list of the uploaded images <a href = "/news/editor/images/">here</a></p>
        </div>
      </div>
    </div>

<%- include('00b_footer.ejs') %>
<%# </html> %>